[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
python-dotenv = "*"
tenacity = "*"
pybreaker = "*"
redis = "*"

[dev-packages]
black = "*"
ruff = "*"
mypy = "*"
pytest-cov = "*"
types-requests = "*"

[requires]
python_version = "3.12"
